@import '../../assets/scss/variables';

.home {

}

.home {
    @media (max-width: 800px) {
        > a {
            padding-top: 25vh;
            margin-top: -25vh;
            display: inline-block;
            vertical-align: top;
        }
    }

    @media (min-width: 800px) {

    }
}
