/* Colors */

$white: #fff;
$bony-white: #fafafa;
$gray-white: #9d9d9d;
$light-white: #7e848a;

$light-red: #f92f42;
$dark-red: #f90033;

$gray: #777;
$gray-light: #e5e4ed;

$purple: #582f4a;
$light-purple: #79596e;
$dark-purple: #333155;

$black: #454749;
$green: #00a787;
$blue: #3c3a65;
$lead: #757493;

/* Font Size */

$font-small: .90rem;
$font-normal: 1.2rem;
$font-large: 2.5rem;

/* Icon Size */
$icon-normal: 5vh;
