@import '../../assets/scss/variables';

.our-team  {
    .container {
        .col-sm-2 {
            padding: 0;
        }
    }

    .card-employee > img {
        -webkit-transition: all 0.5s;
        -webkit-transform-origin: 50% 100%;
        -moz-transition: all 0.5s;
        -moz-transform-origin: 50% 100%;
        -o-transition: all 0.5s;
        -o-transform-origin: 50% 100%;
    }

    .card-employee > img:hover {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
         margin: 0 2.0em;
    }

    .col-sm-2:hover + .col-sm-2 .card-employee > img,
    .card-employee img.prev {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        margin: 0 1.8em;
    }
}

.our-team  {
    @media (max-width: 800px) {
        .container {
            padding-top: 0;
        }
    }

    @media (min-width: 800px) {
        .container {
            padding-top: 50px;
        }
    }
}
