@import '../../assets/scss/variables';

.footer {
    .containerText {
        text-align: center;
    }

    .title {
        font-size: $font-normal;
        display: block;
    }

    .subTitle {
        font-size: $font-normal;
    }

    .about{
        background-color: $blue;
        height: 200px;

        .title {
            text-transform: uppercase;
            color: $white;
            padding-bottom: 10px;
            padding-top: 55px;
        }

        .subTitle {
            color: $lead;
        }
    }

    .copyright{
        background-color: $dark-purple;
        height: 100px;

        .title {
            color: $lead;
            padding-top: 30px;
        }

        .subTitle {
            color: $lead;
        }

        .by {
            color: $white;
        }

        .heart {
            color: $dark-red;
            font-size: $font-small;
            margin-right: 3px;
        }
    }
}

.footer {
    @media (max-width: 800px) {
        .container {
            padding-top: 10px;
        }

        .about{
            min-height: 270px;
            height: 55vh;

            .title {
                padding-bottom: 3px;
                padding-top: 15px;
            }
        }

        .copyright{
            min-height: 75px;
            height: 15vh;

            .title {
                padding-top: 15px;
            }
        }
    }

    @media (min-width: 800px) {
        .container {
            padding-top: 50px;
        }

        .about{
            height: 200px;

            .title {
                padding-bottom: 10px;
                padding-top: 55px;
            }
        }

        .copyright{
            height: 100px;

            .title {
                padding-top: 30px;
            }
        }
    }
}
